SECRETS = {
    "twilio": {
        "sid": "ACxxxxxxxxxxxxxxxxxxxxxxxxx",
        "token": "ffxxxxxxxxxxxxxxxxxxxxx",
        "to": "+86xxxxxxxx",
        "from": "+1xxxxxxxxxxx"
    },

    "mail": {
        "from": "xxxxxxx@qq.com",
        "passwd": "gjxxxxxxxxxxxxxxx",
        "to": "xxxxxxxxxxxxxxxx@hotmail.com"
        },

    "trackingmore": {
        "token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        }
    }
